.thomson-navbar{
    background-color: black;
    padding: 0 20px;
    border-bottom: 1px solid var(--bg-light-color);
}
.logo-part {
    width: 180px;
}
.navbar-expand-lg .navbar-nav {
    gap: 25px;
}
.navbar-expand-lg .navbar-nav li a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
}
.navbar-expand-lg .navbar-nav li .active{
    color: var(--high-color);
    font-weight: 700;
    transition: 0.5s;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 70px;
    width: 100%;
    position: fixed !important;
    border-radius: 0;
    left: 0;
    right: 0;
}
.dropdown-menu.show a {
    color: #000 !important;
}
.megamenu{
    position: static !important;
}
