:root{
  --bg-color:#000;
  --bg-light-color:#f4f4f5;
  --bg-gray-color: #333f48;
  --high-color:#D0021B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: none; 
}
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover {
  background: var(--high-color); 
  border-radius: 10px;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.ptb-4{
  padding: 4rem 0;
}
.ptb-5{
  padding: 5rem 0;
}
.ptb-6{
  padding: 6rem 0;
}
.ptb-7{
  padding: 7rem 0;
}
h1.page-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--bg-color);
  position: relative;
  margin-bottom: 20px;
}
h1.page-title::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--high-color);
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  border-radius: 5px;
}
h2.section-heading{
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
h2.section-heading::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--high-color);
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.btn-primary{
  background-color: var(--high-color);
  border-color: var(--high-color);
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover{
  background-color: var(--bg-color);
  border-color: var(--bg-light-color);
}

/* form floating label */
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: .65;
  transform: scale(0.7) translateY(-0.8rem) translateX(0.15rem);
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--high-color);
}
